[Unit]
Description=Caddy Web Server
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/local/bin/caddy run --config /var/www/astrokabinet.id/Caddyfile.simple --adapter caddyfile
ExecReload=/usr/local/bin/caddy reload --config /var/www/astrokabinet.id/Caddyfile.simple --adapter caddyfile --force
WorkingDirectory=/var/www/astrokabinet.id
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=1048576
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
